body {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #c0c0c0;
}
.main-content {
    width: 298px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 600px;
}

.content-box {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.4s ease;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.main-content:hover .content-box {
    transform: rotateX(-180deg);
}

.back {
    height: 100%;
    background-color: #000;
    transform: rotateX(-180deg);
}

.half-color {
    width: 50%;
    height: 100%;
    background-color: #171717;
}

.name {
    color: #fff;
    position: absolute;
    top: 30%;
    left: 12%;
    font-size: 17px;
    font-weight: bold;
}

.job {
    color: #757575;
    position: absolute;
    top: 40%;
    left: 27%;
    font-weight: bold;
}

.social-list {
    position: absolute;
    top: 50%;
    left: 10%;
    list-style-type: none;
}

.links:not(:last-child) {
    margin-right: 10px;
}

.bx {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    transition: all 0.4s ease;
}

.bx:hover {
    transform: scale(1.5);
    background-color: #808080;
}





